/.metadata/
/.recommenders/

.env
__pycache__
env/*
app.db
migrations
__pycache__
gitignore.rar
virtual
psycopg2-2.7.7-cp37-cp37m-win_amd64.whl
activate.bat
deactivate.bat
Sample.csv
activate.bat
activate-app.rar
activate-PythonA.rar
data0.rar
data1.rar
data*.rar
*.rar
activ*.rar
app.rar
Include/*
Lib/*
Scripts/*
tcl/*
*.rar